@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shiver {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-1px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(1px);
  }
}

.animate-shiver {
  animation: shiver 0.5s ease-in-out infinite;
}